body {
	margin: 0;
	font-family: 'Open Sans';
	color: #222;
}

.introduction {
	text-align: center;
	padding-top: 100px;
	font-size: 0;
}

.ava {
	width: 135px;
	height: 135px;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
}

h1 {
	font-size: 30px;
	margin: 0;
	margin-bottom: 10px;
	color: #4c4c4c;
	font-weight: 800;
	line-height: 34px;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	display: block;
}

.name {
	display: block;
	font-weight: 100;
	margin-top: -11px;
}

.job-title {
	display: block;
	color: #f66;
	text-transform: uppercase;
}

.short-description {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding-left: 25px;
}

.ava img {
	width: 100%;
}

.lead {
	font-size: 14px;
	max-width: 400px;
	margin: 0;
	line-height: 1.333;
	color: #333;
}

.lead li > .svg {
	font-size: 0;
}

.lead svg.mail {
	width: 15px;
	margin-left: 1px;
	vertical-align: -7px;
	margin-right: 6px;
	fill: #444;
}

.lead svg.skype {
	width: 17px;
	height: 17px;
	vertical-align: -4px;
	margin-right: 5px;
	fill: #444;
}

.lead svg.linkedin {
	width: 15px;
	height: 15px;
	vertical-align: -4px;
	margin-right: 6px;
	margin-left: 1px;
	fill: #08f;
}

.lead li {
	padding: 1px 0;
}

.lead a {
	color: #08f;
	line-height: 1.6;
	text-decoration: none;
}

.lead a span:not(.svg) {
	border-bottom: 1px solid #acf;
}

.lead a:hover span:not(.svg) {
	color: #f88;
	border-bottom: 1px solid #fcc;
}

.lead a:hover svg.linkedin {
	fill: #f88;
}


/* JOBS */

.jobs {
	max-width: 760px;
	margin: 90px auto 0;
	background: #eff2f8;
	padding: 20px 60px 40px;
	border-radius: 4px;
}

.jobs ul {
	text-align: center;
	margin: 0;
	padding: 0;
	max-width: 760px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.jobs li {
	display: block;
	margin: 0 11px;
	flex-basis: 0;
}

.jobs .logo {
	font-size: 0;
	padding: 20px 0;
}

.jobs .logo img {
	height: 40px;
}

.jobs .timeline {
	height: 5px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.jobs .timeline td {
	background: #bdc3c7;
	width: 200px;
	height: 3px;
	margin-right: 2px;
}
.jobs .timeline td:last-child {
	margin-right: 0;
}

.jobs .freelance-text-logo {
	font-size: 30px;
	line-height: 40px;
	padding: 20px 0;
	font-weight: 700;
	color: #4a4a4a;
}

/* 18 + 12 + 9 = 39; 100 / 39 */

.jobs li:nth-child(1) {
	/*flex-grow: 30;*/
	flex-grow: 1;
}

.jobs li:nth-child(1) .freelance-text-logo {
	margin-bottom: -5px;
	margin-top: 5px;
}

.jobs li:nth-child(2) {
	/*flex-grow: 12;*/
	flex-grow: 1;
}

.jobs li:nth-child(2) img {
	position: relative;
	top: 5px;
}

.jobs li:nth-child(3) {
	/*flex-grow: 9;*/
	flex-grow: 1;
}

.jobs .time-spended {
	margin-top: 4px;
	color: #666;
	font-size: 14px;
}

.total {
	text-align: center;
	margin-top: 13px;
	position: relative;
	overflow: hidden;
	padding-top: 30px;
	font-weight: bold;
	color: #444;
	font-size: 16px;
}

.total:before {
	position: absolute;
	content: "";
	height: 20px;
	left: 0;
	right: 0;
	border: 1px solid #aaa;
	border-radius: 10px;
	border-top: none;
	display: block;
	top: -10px;
}

.total:after {
	position: absolute;
	content: "";
	height: 10px;
	width: 10px;
	left: 50%;
	border: 1px solid #aaa;
	border-top: none;
	border-right: none;
	display: block;
	top: 5px;
	transform: rotate(-45deg);
	background: #ecf0f1;
}


/* WORKS */

.works {
	max-width: 960px;
	font-size: 0;
	margin: 100px auto 100px;
}

.works ul + h2 {
	margin-top: 70px;
}

.works h2 {
	font-size: 16px;
	text-align: center;
	position: relative;
	color: #444;
	margin: 0 0 54px;
}

.works h2:after {
	content: "";
	border-top: 1px solid #bbb;
	display: block;
	left: 40px;
	right: 40px;
	top: 12px;
	position: absolute;
	z-index: -1;
}

.works h2 span {
	background: #fff;
	padding: 0 10px;
}

.works .projects {
	padding: 0;
	margin: 0;
	text-align: center;
}

.works .projects li {
	display: inline-block;
	width: 160px;
	padding: 0 40px 40px;
	vertical-align: top;
	text-align: left;
}

.works .projects li > a:not(.url) {
	position: relative;
	overflow: hidden;
	display: block;
}

.works .projects li.lead-project {
	width: 400px;
}

@media (max-width: 550px) {

	.works .projects li.lead-project {
		width: 160px;
	}
}

.works .projects li.lead-project > a:first-child {
	position: relative;
	display: block;
	overflow: hidden;
}

.works .projects li.lead-project:first-child > a:first-child:after,
.white-image:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 1px solid #ddd;
}

.works .projects li.lead-project img {
	width: 400px;
}

.works .projects li > a:hover {
	opacity: .9;
}

.works .projects li > a:hover + p a {
	color: #f88;
	border-bottom: 1px solid #fcc;
}

.works .projects img {
	width: 160px;
	height: 160px;
}

.works .projects p {
	font-size: 14px;
	margin: 8px 0 0;
}

.works .projects p a {
	color: #08f;
	line-height: 1.6;
	border-bottom: 1px solid #acf;
	text-decoration: none;
}
.works .projects p a:hover {
	color: #f88;
	border-bottom: 1px solid #fcc;
}

.works .projects .url {
	font-size: 12px;
	text-decoration: none;
	color: #4a4;
	border-bottom: 1px solid #cec;
	position: relative;
	line-height: 26px;
}

.works .projects .url:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: -6px;
	bottom: -6px;
	display: block;
}

.works .projects .url:hover {
	color: #a44;
	border-bottom-color: #ecc;
}

.works .projects .in-progress {
	font-size: 12px;
	color: #d82;
	line-height: 26px;
}

.works .illustrations {
	padding: 0 40px;
	overflow: hidden;
}

.works .illustrations .col1-2 {
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding: 0 5px;
}

.works .illustrations .col1-2 img {
	width: 100%;
	display: block;
	margin-bottom: 10px;
}

@media (max-width: 800px) {

	.works .illustrations .col1-2 {
		width: 100%;
		float: none;
		box-sizing: border-box;
		padding: 0 5px;
	}
}


/* WORK PAGE */

.work-page {
}

.go-home {
	max-width: 960px;
	margin: 0 auto 100px;
	display: block;
	height: 50px;
	line-height: 50px;
	background: #fff;
	text-decoration: none;
}

.go-home span {
	color: #08f;
	border-bottom: 1px solid #acf;
}
.go-home:hover span {
	color: #f88;
	border-bottom: 1px solid #fcc;
}

.screenshots {
	max-width: 1000px;
	margin: 100px auto;
}

.screenshots:after {
	content: "";
	display: block;
	clear: both;
}

.col {
	width: 460px;
	float: left;
	padding: 0 20px;
	font-size: 0;
}

.col img {
	width: 100%;
	margin-bottom: 40px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

.col2 {
	padding-bottom: 40px;
	font-size: 0;
}

.col2 img {
	width: 100%;
	margin-bottom: 40px;
}

.work-page h1 {
	margin: 0 auto;
	font-size: 50px;
	max-width: 800px;
	/*text-transform: uppercase;*/
	/*letter-spacing: .05em;*/
	line-height: 1.4;
	padding: 0 20px;
}

.jobs-text {
	display: none;
	color: #666;
	padding: 0 10px;
}


/* ADAPTIVITY */

@media (max-width: 1020px) {

	.works {
		margin: 100px 20px;
	}

	.col {
		float: none;
		width: auto;
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 940px) {

	.jobs {
		margin: 90px 20px 0;
	}

	.works h2:after {
		left: 0px;
		right: 0px;
	}

	.jobs .timeline {
		display: none;
	}

	.jobs .logo,
	.jobs .freelance-text-logo {
		padding-bottom: 10px;
	}
}

@media (max-width: 800px) {

	.jobs img {
		height: 30px !important;
	}

	.jobs .freelance-text-logo {
		font-size: 24px;
		line-height: 30px;
	}
}

@media (max-width: 620px) {

	.jobs {
		border-radius: 0;
		margin: 90px 0 0;
		padding-left: 10px;
		padding-right: 10px;
	}

	.works h2:after {
		left: -20px;
		right: -20px;
	}

	.work-page h1 {
		font-size: 28px;
		padding: 0 20px;
		margin: 0;
	}

	.go-home {
		margin: 0 0 50px;
	}

	.screenshots {
		margin-top: 50px;
	}
}

@media (max-width: 450px) {

	.ava {
		margin-top: 60px;
	}

	.lead {
		margin: 0 25px;
	}

	.jobs-text {
		display: block;
	}

	.jobs ul {
		display: none;
	}
}
